.box-shadow-main{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .hover-scale {
    transition: transform 0.3s ease; /* Smooth transition effect */
  }
  
  .hover-scale:hover {
    transform: scale(1.10); /* Increase size by 17% on hover */
  }

  
.transition-bg {
  transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}


.fade-in {
  opacity: 1;
}

.hero-background {
  background: rgb(2,0,36);
background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(32,26,71,1) 100%);
}

.bg-workshop{
  background: rgb(16,16,16);
background: radial-gradient(circle, rgba(16,16,16,1) 14%, rgba(66,74,77,1) 100%);
}
@keyframes moveLeftRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.animate-move {
  animation: moveLeftRight 1s infinite ease-in-out;
}
